diffusers==0.24.0
huggingface-hub==0.19.4
fastapi
numpy==1.26.1
torch==2.1.0
torchvision==0.16.0
# nvidia-cublas-cu12==12.1.3.1
# nvidia-cuda-cupti-cu12==12.1.105
# nvidia-cuda-nvrtc-cu12==12.1.105
# nvidia-cuda-runtime-cu12==12.1.105
# nvidia-cudnn-cu12==8.9.2.26
# nvidia-cufft-cu12==11.0.2.54
# nvidia-curand-cu12==10.3.2.106
# nvidia-cusolver-cu12==11.4.5.107
# nvidia-cusparse-cu12==12.1.0.106
# nvidia-nccl-cu12==2.18.1
# nvidia-nvjitlink-cu12==12.3.52
# nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.16.1
opencv-python==4.8.1.78
pillow==10.1.0
pydantic==2.5.2
# python==3.11.0==h7a1cba_3
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
setuptools==68.0.0
# six==1.16.0==pyh6c4a22f_0
# sklearn
# sniffio==1.3.0
# sqlite==3.41.2==h5eee18b_0
starlette==0.27.0
tokenizers==0.15.0
torchsummary==1.5.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.12.0
transformers==4.35.2
triton==2.1.0
uvicorn==0.24.0.post1

